#css {
  color: aquamarine;
}
#anim {
  color: red;
}
h1 {
  text-align: center;
}

.box1 {
  background: red;
  border: 5px dotted black;

  /* css transition */
  transform: rotate(0deg);
  /* transition-property: transform;
transition-duration: 3s;
transition-timing-function: linear; */
  transition: all 3s linear 1s;

  /* css animation */
  animation-name: slowmoving;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes slowmoving {
  from {
    transform: rotate(0deg);
    background-color: green;
  }
  to {
    transform: rotate(360deg);
    background-color: aqua;
  }
}

.box2 {
  background: yellow;
  border: 5px dotted green;

  /* css transition */
  transform: rotate(0deg);
  /* transition-property: transform;
transition-duration: 3s;
transition-timing-function: linear; */
  transition: all 3s linear 1s;
  /* css animation */
  /* css animation */
  animation-name: fastmoving;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fastmoving {
  from {
    transform: rotate(0deg);
    background-color: aqua;
  }
  to {
    transform: rotate(360deg);
    background-color: red;
  }
}
/* common class */
.box {
  height: 300px;
  width: 280px;
  font-size: 3rem;
  text-align: center;
  font-weight: 600px;
  line-height: 300px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 20%;
}

/* bouncing ball  */

.ballbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ball {
  height: 100px;
  width: 100px;
  background-color: brown;
  border-radius: 100px;
  box-shadow: 0px 8px 5px brown;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100px;
  color: red;


  animation-name: bounce;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: translate(0px, -500px);
  }
  to {
    transform: translate(0px, 100px);
  }
}

.ball2 {
  background-color: aqua;
  animation-delay: 0.2s;
}
.ball3 {
  background-color: blue;
  animation-delay: 0.4s;
}
.ball4 {
  background-color: black;
  animation-delay: 0.6s;
}

.ball5 {
  background-color: yellow;
  animation-delay: 0.8s;
}
.ball6 {
  background-color: pink;
  animation-delay: 1s;
}

/* .box1:hover,.box2:hover{
    transform: rotate(360deg);
    background-color: aqua;

} */


/* making responsive */

/* for 801px-900px */
@media(max-width:900px){

  .box {
    height: 140px;
    width: 140px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600px;
    line-height: 150px;
   
    margin-top: 50px;
    margin-left: 20%;
  }
}
/* for 601px-800px  */

@media(max-width:800px){
  h1{
    font-size: 1.8rem;
  }
  .ballbox{
    margin-right: 25px;
  }

.ball {
  height: 60px;
  width: 60px;
 
  border-radius: 50px;
 
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 60px;
  
  animation-name: bounce;
 


 
}

@keyframes bounce {
  from {
    transform: translate(0px, -450px);
  }
  to {
    transform: translate(0px, -20px);
  }
}


.box {
  height: 150px;
  width: 150px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600px;
  line-height: 150px;
 
  margin-top: 50px;
  margin-left: 20%;
}
}


/* ball animation adjustment 600-700px */

@media(max-width:500px){
  .ball{
    animation-name: bounce;
  }
 


 


@keyframes bounce {
  from {
    transform: translate(0px, -190px);
  }
  to {
    transform: translate(0px, 200px);
  }
}
}


@media(max-width:400px){
  h1{
    font-size: 1.4rem;
  }
  .ballbox{
    margin-right: 25px;
  }

.ball {
  height: 40px;
  width: 40px;
 
  border-radius: 50px;
 
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 40px;
  
  animation-name: bounce;
 


 
}

@keyframes bounce {
  from {
    transform: translate(0px, -450px);
  }
  to {
    transform: translate(0px, -20px);
  }
}


.box {
  height: 150px;
  width: 150px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600px;
  line-height: 150px;
 
  margin-top: 50px;
  margin-left: 20%;
}
}


